h1{
    font-family: 'Bree Serif', serif;
    color: rgb white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    color: white;
    font-family: 'Bree Serif', serif;
}

body{
    background-color: #1a1a1a;

}.header__lista{
    list-style: none;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.header__lista:hover{
    transform: scale(1.10,1.10);
    transition: all 1s;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
}

header{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.imagen__logo{
    width: 500px;
    height: 500px;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.imagen__principal{
    display:flex;
    justify-content: center;
    align-items: center;
}

.img__fotos{
    width: 500px;
    height:500px;
}

.img__final{
    width: 400px;
    height: 400px;
    padding: 20px;
    display: block;
    margin: 0px auto;
}

.img__cambiar{
    display: block;
    margin: 0px auto;
}

.texto__contacto__img{
    width: 25px;
    height: 25px;
    float: left;
}

li{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.texto__contacto{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.texto__destacado{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.texto__fotos{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }

.texto__redes{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.texto__info{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.texto__final{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.texto__principal{
    color: white;
    text-decoration: none;
    }

.section__principal{
    height: 500px;
}

.section__principal__nosotros{
    padding: 0 20px 0 20px;
}
.section__fotos{
    display:flex;
    justify-content: center;
    align-items: center;
}

.fotos__grid{
    display: grid;
    width: 80vw;
    height: 140vh;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas:"asado chinchulines costilla" 
                        "tabla-achuras mate-asado costilla"
                        "tabla-achuras mate-asado chorizo-morcilla";   
}                                      


.grid__estilos{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.asado{
    grid-area: asado;
    background-image: url("../recursos/asado.jpeg");
}


.chinchulines{
    grid-area: chinchulines;
    background-image: url("../recursos/chinchulines.jpeg");
}

.picada{
    grid-template-areas: picada;
    background-image: url("../recursos/picada.jpeg");
}

.mollejas{
    grid-area: mollejas;
    background-image: url("../recursos/mollejas.jpeg");
}

.matambre{
    grid-area: matambre;
    background-image: url("../recursos/matambre.jpeg");
}

.costilla{
    grid-area: costilla;
    background-image: url("../recursos/costilla.jpg");
}

.tabla-achuras{
    grid-area: tabla-achuras;
    background-image: url("../recursos/tabla-achuras.jpg");
}

.mate-asado{
    grid-area: mate-asado;
    background-image: url("../recursos/mate-asado.jpg");
}

.chorizo-morcilla{
    grid-area: chorizo-morcilla;
    background-image: url("../recursos/chorizo-morcilla.jpeg");
}

footer{
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer__texto{
    text-align: center;
}

.foteer__texto--destacado{
    margin-bottom:5px;
}

/* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width:575px) {
    
    header{
        justify-content: space-between;
    }

    .texto__principal{
        font-size: 8px;
    }

    .header__lista{
        flex-wrap: wrap;
    }

    .fotos__grid{
        display: grid;
        width: 80vw;
        height: 40vh;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas:"asado chinchulines costilla" 
                            "tabla-achuras mate-asado costilla"
                            "tabla-achuras mate-asado chorizo-morcilla";   
    }
    
    .grid__estilos{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 1px;
    }

    .img__cambiar{
        width: 80%;
    }

    .img__final{
        width: 80%;
    }

    .imagen__logo {
    width: 100vh;
    height: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

}

/* MEDIA DE TABLET */
@media (min-width: 576px) and (max-width:992px) {

    .img__cambiar{
        width: 80%;
    }
}
