h1{
    font-family: 'Bree Serif', serif;
    color: rgb white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    color: white;
    font-family: 'Bree Serif', serif;
}

body{
    background-color: #1a1a1a;

}.header__lista{
    list-style: none;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.imagen__logo{
    width: 500px;
    height: 500px;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.imagen__principal{
    display:flex;
    justify-content: center;
    align-items: center;
}

.img__fotos{
    width: 500px;
    height:500px;
}

.img__final{
    width: 400px;
    height: 400px;
    padding: 20px;
    display: block;
    margin: 0px auto;
}

.img__cambiar{
    display: block;
    margin: 0px auto;
}

.texto__contacto__img{
    width: 25px;
    height: 25px;
    float: left;
}

li{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.texto__contacto{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.texto__destacado{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.texto__fotos{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }

.texto__redes{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.texto__info{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.texto__final{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.texto__principal{
    color: white;
    text-decoration: none;
    }

.section__principal{
    height: 500px;
}

.section__principal__nosotros{
    padding: 0 20px 0 20px;
}

.fotos__grid{
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas:"asado chinchulines picada" 
                        "mollejas matambre costilla"
                        "tabla-achuras mate-asado chorizo-morcilla";   
                }                                      


.asado{
    grid-area: asado;
    background-image: url("../recursos/asado.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }

.chinchulines{
    grid-area: chinchulines;
    background-image: url("../recursos/chinchulines.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.picada{
    grid-template-areas: picada;
    background-image: url("../recursos/picada.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mollejas{
    grid-area: mollejas;
    background-image: url("../recursos/mollejas.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.matambre{
    grid-area: matambre;
    background-image: url("../recursos/matambre.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.costilla{
        grid-area: costilla;
        background-image: url("../recursos/costilla.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}

.tabla-achuras{
    grid-area: tabla-achuras;
    background-image: url("../recursos/tabla-achuras.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mate-asado{
    grid-area: mate-asado;
    background-image: url("../recursos/mate-asado.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chorizo-morcilla{
    grid-area: chorizo-morcilla;
    background-image: url("../recursos/chorizo-morcilla.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer__texto{
    text-align: center;
}

.foteer__texto--destacado{
    margin-bottom:5px;
}