@import"variables";
@import"footer";

/* COLORES */
footer {
    @extend .flex-centrado;
    color:$color_textos;
    border-top: solid 1px white;

    &__texto {
        text-align: center; 
    }
    
    &__texto--destacado {
        margin-bottom: 5px; 
    } 

}

h1 {
    @extend .flex-centrado;
    font-family: 'Bree Serif', serif;
    color:$color_textos;
}

h2 {
    color:$color_textos;
    font-family: 'Bree Serif', serif; }

body {
    display:grid;
    min-height:100vh;
    grid-template-rows:auto 1fr auto;
    background-color:$color_pagina;
}

.header__lista {
    list-style: none;
    color:$color_textos;
    @extend .flex-centrado;
    font-family: 'Roboto', sans-serif;

    &__link{
        color:$color_textos;
        text-decoration: none;
        font-size: larger;
    
          /* ANIMACION MENU */ 
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1s;
            color:$color_textos;
            @extend .flex-centrado;
        }
    }

}

.navbar-toggler{
    background-color:$color_textos;
}

header {
    color:$color_textos;
    @extend .flex-centrado;
    border-bottom: solid 1px white;
}

.imagen__logo {
    width: 500px;
    height: 500px;
    padding: 20px;
    @extend .flex-centrado;
}

.imagen__principal {
    @extend.flex-centrado; }

.img__final {
    width: 400px;
    height: 400px;
    padding: 20px;
    display: block;
    margin: 0px auto; }

.img__cambiar {
    display: block;
    margin: 0px auto; }

.texto__contacto__img {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; 
     */
}

li {
    @extend .flex-centrado;
    margin: 0 10px 0 10px; }

.texto__contacto {
    color:$color_textos;
    font-family: 'Roboto', sans-serif; }


.texto__redes {
    color:$color_textos;
    font-family: 'Roboto', sans-serif; 
}

.texto__info {
    color:$color_textos;
    font-family: 'Roboto', sans-serif; }

.texto__final {
    color: $color_textos;
    font-family: 'Roboto', sans-serif;
    text-align: center; }

.texto__principal {
    color:$color_textos;
    text-decoration: none;
    font-family: 'Bree Serif', serif; }

/* .section__principal {
    height: 200px;
    display: flex;
    flex-direction: column; } */

.section__principal__nosotros {
    padding: 0 20px 0 20px; }


.info__contacto {
    justify-content: center;
    align-items: center; }

.carrousel__fotos {
    height: 500px; }

.formulario__uno {
    width: 400px;
    margin: 20px;  
}

.section__contacto{
    @extend .flex-centrado;
    flex-wrap: wrap;

&__redes_sociales, &_informacion{
    margin: 20px;
}

&__redes_sociales{
    margin-top: 50px;
}
}

.formulario__texto {
    color:$color_textos; }

  /* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
    header {
    justify-content: space-between; }
    .carrousel__fotos {
    height: 220px; }
    .texto__principal {
    font-size: 8px; }
    .img__cambiar {
    width: 80%; }
    .img__final {
    width: 80%; }
    .imagen__logo {
    width: 100vh;
    height: 100vw;
    padding: 20px;
    @extend .flex-centrado;
    }
    }


.header__lista {
    list-style: none;
    color:$color_textos;
    @extend .flex-centrado;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    flex-wrap: wrap; }

  /* MEDIA DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    .img__cambiar {
    width: 80%; } }